.snippet.result
  .row
    .col-sm-12
      %h4.clearfix.page-header
        %span.pull-left
          %i.fa.fa-user
          = link_to current_user.username, '#'
          %span#header
            = (snippet.created_at) ? "(#{time_ago_in_words(snippet.created_at)} ago)"  : '(less than a minute ago)'
            in
            = link_to lexer, '#' if defined?(lexer)
            %a#lexer_id{href: '#'}
          %span.label.label-danger smelly :(
        %h3.title-container
          %a#title{href: '#'}
            = title if defined?(title)
  .row
    .col-sm-12
      %p.description#description
  .row
    .col-sm-12
      .smelly-code
        .panel
          %div{class: "panel-heading clickable #{ 'panel-collapsed' if user_preferences[:minimize]}"}
            %h3.panel-title.clearfix
              %span.pull-left.text-warning
                %i.fa.fa-warning
                Smelly code |
              %span.pull-right
                %i.fa.fa-minus
          .panel-body
            %span#smelly_body
              = highlight_code(smelly_code, lexer) if defined?(smelly_code)
    - if defined?(action)
      %button.btn.btn-primary.btn-block#create-snippet
        = action
    = render 'snippets/separator'