- decorated_snippet = snippet.decorate
%div{class: "snippet #{snippet.language.name}"}
  .row
    .col-sm-8
      %h4.clearfix
        %span.pull-left
          %i.fa.fa-user
          = link_to snippet.user.username, '#'
          = "(#{time_ago_in_words(snippet.created_at)} ago) in"
          = link_to "#{snippet.language.name.capitalize}", snippets_path(page: 1, language: snippet.language.name)
        %span.pull-right
          = decorated_snippet.status_label
      %h3
        = link_to snippet.title, snippet_path(snippet)
  .row
    .col-sm-8
      %p.description
        = snippet.description
      %hr.small
  .row
    .col-sm-8
      .smelly-code
        .panel
          %div{class: "panel-heading clickable #{ 'panel-collapsed' if decorated_snippet.solved?}"}
            %h3.panel-title.clearfix
              %span.pull-left.text-warning
                %i.fa.fa-warning
                Smelly code |
              = decorated_snippet.panel_heading_icon
          .panel-body
            = simple_format(decorated_snippet.highlight_code(snippet.smelly_body, snippet.language.name)).html_safe
    - if decorated_snippet.solved?
      .col-sm-8
        .clean-code
          .panel
            .panel-heading.clickable.panel-collapsed
              %h3.panel-title.clearfix
                %span.pull-left.text-success
                  %i.fa.fa-check
                  Clean code
                = decorated_snippet.panel_heading_icon
            .panel-body
              = simple_format(decorated_snippet.highlight_code(snippet.clean_body, snippet.language.name)).html_safe
    - if action_name == 'index'
      .col-sm-8
        = decorated_snippet.button


