%div{class: "snippet"}
  .row
    .col-sm-12
      %h4.clearfix
        %span.pull-left
          %i.fa.fa-user
          = link_to snippet.user.username, user_path(snippet.user)
          = "(#{time_ago_in_words(snippet.created_at)} ago) in"
          = link_to "#{snippet.lexer.name}", snippets_path(page: 1, lexer: snippet.lexer.name)
        %span.pull-right
          = snippet.decorate.status_label
      %h3
        = link_to snippet.title, snippet_path(snippet)
  .row
    .col-sm-12
      %p.description
        = snippet.description
  .row
    .col-sm-12
      %p.clearfix
        %span.pull-right
          = link_to edit_snippet_path(snippet), class: 'action-link' do
            Edit this snippet
            %i.fa.fa-pencil
      .smelly-code
        .panel
          %div{class: "panel-heading clickable #{ 'panel-collapsed' if snippet.decorate.resolved?}"}
            %h3.panel-title.clearfix
              %span.pull-left.text-warning
                %i.fa.fa-warning
                Smelly code |
              = snippet.decorate.panel_heading_icon
          .panel-body
            = snippet.decorate.format_code(snippet.smelly_body)
    - if snippet.decorate.resolved?
      .col-sm-12
        .clean-code
          .panel
            .panel-heading.clickable.panel-collapsed
              %h3.panel-title.clearfix
                %span.pull-left.text-success
                  %i.fa.fa-check
                  Clean code
                = snippet.decorate.panel_heading_icon
            .panel-body
              = snippet.decorate.format_code(snippet.clean_body)


:javascript
  $(document).on("ready page:load", function(){
    // Remove wrong paragraph that simple_format creates
    $('.snippet .panel-body p:first-child').remove();
    $('.highlight').next('p').remove();
  })




