.page-header
  %h1
    Frequently Asked Questions
    %small last updated on 21.03.2014
.row
  - @faqs.in_groups_of(5).each do |faq_group|
    .col-sm-6
      %ul.list-group
        - faq_group.each do |faq|
          %li.list-group-item
            %span.badge
              = faq.id
            = link_to faq.question, "##{faq.id}", class: 'faq-link'
%hr
  - @faqs.each do |faq|
    %h2{id: faq.id}
      = "#{faq.id}. #{faq.question}"
    %p
      = faq.answer


