#new-snippet.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "new-snippet", role: "dialog", tabindex: "-1"}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"}
          %i.fa.fa-times
        %h3.modal-title
          Show your smelly code to others and get help!
      .modal-body
        = simple_form_for(Snippet.new) do |f|
          = f.input :title, class: 'input-lg', placeholder: t("snippet_placeholders.title")
          = f.input :description, class: 'input-lg', placeholder: t("snippet_placeholders.description")
          = f.input :smelly_body, class: 'input-lg', placeholder: t("snippet_placeholders.smelly_body"), label: 'Smelly code'
          = f.button :submit, 'Post this snippet', class: 'btn btn-primary btn-block'

