.page-header
  %h1.clearfix
    %span.pull-left
      Manage preferences
    %span.pull-right
      %i.fa.fa-gear
.row
  .col-sm-4.well#snippet-settings
    %legend.clearfix
      %span.pull-left
        Customize snippets
      %span.pull-right
        %i.fa.fa-code
    .form-group
      %label Theme for syntax highlighting
      = select_tag(:theme, options_for_select(fetch_themes, user_preferences[:theme].capitalize), class: 'chosen-select', include_blank: true)
    .form-group
      %label Line numbers
      = check_box_tag(:line_numbers, nil, user_preferences[:line_numbers], class: 'switch', data: {'on-color' => "success"})
    .form-group
      %label Minimized code panels
      = check_box_tag(:minimize, nil, user_preferences[:minimize], class: 'switch', data: {'on-color' => "success"})

  .col-sm-8
    = render 'snippets/result', @options_for_snippet_example
    = text_area_tag(:hidden_smelly_body, @options_for_snippet_example[:smelly_code], class: 'hide')

:javascript
  $(document).on("ready page:load", function(){
     $("#theme").on("change", function(){
          var preference = 'theme'
          var value = $(this).children("option:selected").text()
          set_user_preference(preference, value)
          var smelly_code = $("#hidden_smelly_body").val()
          var lexer = "ruby";
          highlight_smelly_code(smelly_code, lexer)
       });

       $("#minimize").on("switchChange.bootstrapSwitch", function(e ,data){
          var preference = 'minimize'
          var value = $('#minimize').bootstrapSwitch('state')
          set_user_preference(preference, value)
          $('.smelly-code .clickable').trigger("click")
       })

       $("#line_numbers").on("switchChange.bootstrapSwitch", function(event, state){
          var preference = 'line_numbers'
          value = state
          set_user_preference(preference, value)
       })

  })
